<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="monitoringSettings" type="Aliencube.WindowsServicesMonitoring.Configurations.MonitoringSettingsSection, Aliencube.WindowsServicesMonitoring.Configurations" requirePermission="false" />
    </configSections>

    <monitoringSettings>
        <environments>
            <environment name="DEV">
                <servers>
                    <server name="DEVAPPSERVER01">
                        <services>
                            <service name="Batch.Service" expected="stopped" username="username" password="password" />
                            <service name="Windows.Service" expected="running" username="username" password="password" />
                        </services>
                    </server>
                </servers>
            </environment>
        </environments>
    </monitoringSettings>
</configuration>
